{% extends "services_block.html" %}
{% block title %}AutoCAD | Commercial Drafting Solutions and Services for All Types{% endblock %}
{% block services %}

<section id="services" class="services section-bg">
    <div class="container">
        <div class="row">
<!--          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>-->
          <div class="col-xl-12 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
                <h3 data-aos="fade-in" data-aos-delay="100" style="text-transform: uppercase;"><strong>2D  AutoCAD Drafting Services</strong></h3>
              <p data-aos="fade-in">
                <p align="justify">We offer different types of AutoCAD Services from simple PDF conversions to advanced detailing that best fits your technical requirements while producing the right set of CAD deliverables to meet your project needs.</p>
                <p align="justify">With AutoCAD, we can document projects of any size or complexity. With proven AutoCAD technology, we can confidently take on any design, construction, or operations project. No matter what design information you are working with or what kind of deliverables are required, we can rely on AutoCAD’s flexibility and power to get the job done on time and budget.</p>
                <p align="justify">Offering experienced off-site AutoCAD support to support Owners, General Contractors, Architects, Municipalities, Manufactures, Engineers, Designers, Drafters and other business segments. AutoCAD supports all types and scales, working for professionals in every discipline on projects of every kind utilizing a variety of data input formats like PDF files to develop project related drawing packages. We confidently apply AutoCAD to perform Architectural, Redline Mark-ups, Paper to CAD Conversions, Mechanical, Electrical, Plumbing, P&amp;ID, Manufacturing…etc. all within an infinite array of client sectors.</p>
                </p>
            </div>
          </div>
        </div>
    </div>
</section>

{% endblock %}
