{% extends "services_block.html" %}
{% block title %}Revit BIM Family Creations | Commercial Modeling Solutions &amp; Services{% endblock %}
{% block services %}

<section id="services" class="services section-bg">
    <div class="container">
        <div class="row">
<!--          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>-->
          <div class="col-xl-12 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
                <h3 data-aos="fade-in" data-aos-delay="100" style="text-transform: uppercase;"><strong>Revit Family Modeling Services</strong></h3>
              <p data-aos="fade-in">
                <p align="justify">We develop BIM ready Revit family models that are custom content creations for manufacturers that are used by Architects, Engineers and building construction trades that are easily implemented into all project phases.</p>
                <p align="justify">We use the originating product models from AutoCAD, MicroStation, SolidWorks, Creo, Inventor, PDF-based specification data sheets…etc. as base inputs. No matter what design information you have for us to work with or what kind of deliverables are required, we can rely on Revit’s flexibility and power to get the job done on time and budget.</p>
                <p align="justify">Confidently applying Autodesk Revit software for new and existing products commonly used in virtual 3D building construction projects. It is used for virtually all types of building elements that may require Revit family modeling content creations.</p>
                <p align="justify">Supporting Revit families of any size or complexity. We can definitely take on your products designs and simplify it into a 3D family model while establishing its variable parameters and key connections. Outputs are delivered as Revit family models as .RFA to the exacting specifications.</p>
                </p>
            </div>
          </div>
        </div>
    </div>
</section>

{% endblock %}
