{% extends "services_block.html" %}
{% block title %}SolidWorks | Commercial Modeling Solutions &amp; Services for All Projects{% endblock %}
{% block services %}

<section id="services" class="services section-bg">
    <div class="container">
        <div class="row">
<!--          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>-->
          <div class="col-xl-12 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
                <h3 data-aos="fade-in" data-aos-delay="100" style="text-transform: uppercase;"><strong>SolidWorks 3D Modeling Services</strong></h3>
              <p data-aos="fade-in">
                <p align="justify">We offer different types of SolidWorks Services from simple drawing conversions to advanced detailing that best fits your technical requirements while producing the right set of project deliverables.</p>
                <p align="justify">With SolidWorks, we can develop projects of any size or complexity. With proven SolidWorks technology, we can confidently take on any project. No matter what design information you are working with or what kind of deliverables are required, we can rely on SolidWorks’ flexibility and power to get the job done on time and budget.</p>
                <p align="justify">We are offering experienced off-site SolidWorks support for Manufactures. SolidWorks supports all types and scales, working for professionals in any disciplines on projects of every kind utilizing a variety of data input formats like PDF, DWG, STP…etc. files to develop project related drawing packages. We confidently apply SolidWorks to detail and advance to the fabrication of equipment and products manufacturing all within an infinite array of client sectors.</p>
                </p>
            </div>
          </div>
        </div>
    </div>
</section>

{% endblock %}
