{% extends "block.html" %}
{% load static %}
{% block content %}

{% block services %}

{% endblock %}
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Contact</h2>
          <p data-aos="fade-in">If you like to submit a request for proposal or have questions about the services we offer.<br>Submit your request using the form to the right. Call us and ask to speak someone in sales.Email us while attaching your project's scope with associated inputs.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>sales@thedraftingcompany.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+(800)504-2658</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="company_name" id="company_name" placeholder="Company Name" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
                <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="email" name="email" class="form-control" id="email" placeholder="Email Address" data-rule="minlen:email" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" data-rule="minlen:10" data-msg="Please enter at correct number" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input class="form-control" name="project"  data-rule="required" data-msg="Please write something for us" placeholder="Project Details"></input>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
   <section id="clients" class="about section-bg">
      <div class="container">
        <div class="row">
<!--          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>-->
          <div class="col-xl-12 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3 data-aos="fade-in" data-aos-delay="100">OUR CLIENTS</h3>
              <p>&nbsp;</p>
              <p data-aos="fade-in" align="justify">
                <p data-aos="fade-in">Our Clients are Owners, Construction Managers, Architects, MEP Design Firms, General Contractors (GC), Structural Fabricators, Mechanical, Electrical, Plumbing, Piping, Fire Protection Construction Contractors, and Building related Equipment Manufacturers.</p>
              </p>
              <!-- End .content-->
          </div>
        </div>
        </div>
      </div>
    </section>



   <section id="mission" class="about section-bg">
      <div class="container">
        <div class="row">
<!--          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>-->
          <div class="col-xl-12 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3 data-aos="fade-in" data-aos-delay="100">OUR MISSION</h3>
              <p>&nbsp;</p>
              <p data-aos="fade-in" align="justify">
                <p data-aos="fade-in">Our mission is to create long lasting relationships with our clients. We believe by leveraging the integration of the newest technology and keeping a vigilant eye on the evolving CAD/BIM principles we will help support the building and manufacturing industry improve business practices that enable excellence in communications and collaboration.</p>
                <p>&nbsp;</p>
                <p data-aos="fade-in">We offer a great value and consistent quality.</p>
                <p>&nbsp;</p>
                <p data-aos="fade-in" align="justify">We have an exceptional team of highly trained and diversely experienced designers, architects and engineers with certified project managers supported by our world-class infrastructure that enables the delivery of complex projects to our clients. Our company has an extraordinary amount of experience. We have successfully completed thousands of projects over the past 40+ years.</p>
                <p data-aos="fade-in">&nbsp;</p>
                <p data-aos="fade-in" align="justify">We are committed to excellence. We have the technology. We are a smart and very talented team. Our people are proactive, driven and passionate. We go the extra mile.</p>
              </p>
              <!-- End .content-->
          </div>
        </div>
        </div>
      </div>
    </section>
{% endblock %}

